.container {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid black;
    gap: 10px;
    padding: 10px;
}

.box {
    border: 1px black;
    border-radius: 8px;
    background-color: grey;
}

h2 {
    color: white;
    padding: 10px;
}

.box1 {
   background-color: rgb(61, 61, 61); 
}
 

.box3 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(61, 61, 61);
}

.box4 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.box5 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(61, 61, 61);
}

.box6 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.box7 {
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: rgb(61, 61, 61);
}

.box8 {
    grid-column: 6/7;
    grid-row: 1/2;
}